.DS_Store
data/fms.db
data/fms.db-journal
*.pyc
fms_parser_data/*
code/*.pyc

# tweet bot
twitter/api.yml
twitter/*.pyc

# ScraperWiki box
.bash_history
.lesshst
.pip/
.ssh/
.viminfo
env/
.sqlite_history
