# General annoying files
.DS_Store
*.swp
*.pyc

# Data
data/fixie/
data/daily_csv/
data/lifetime_csv/
data/fms.db
data/fms.db-journal
fms_parser_data/*
code/broken_fixies.txt

# tweet bot
twitter/api.yml
twitter/*.pyc

# ScraperWiki box
.bash_history
.lesshst
.pip/
.ssh/
.viminfo
env/
.sqlite_history
.twitter.yml
