.bluedots {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2Nkiaqr/7OsqZEBChhhDAwBmEoMFQBP1QgFqojs0QAAAABJRU5ErkJggg==
    ) repeat;
  background-color:#0992CC;
  color:white;
}
::selection {
  background: #ffd700; /* Safari */
}
::-moz-selection {
  background: #ffd700; /* Firefox */
}

.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
  overflow: hidden;
}
.container-fluid:before,
.container-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}
.container-fluid:after {
  clear: both;
}

#title{
  overflow: hidden;
  filter: glow(color=black,strength=5);
  /*-webkit-text-stroke: 3px black;*/
  z-index: 1;
  width: 100%;
  display: block;
  position: fixed;
  top: 80px;
  left: 0;
  letter-spacing: 1px;
  font-size: 80px;
  font-weight: 800;
  font-family: "Open Sans", Helvetica, sans-serif;
  text-shadow: 8px 8px black, 7px 7px black, 6px 6px black, 5px 5px black, 4px 4px black, 3px 3px black, 2px 2px black, 1px 1px black, -1px -1px 0 #000, -2px -2px 0 #000, -3px -3px 0 #000, 1px -1px 0 #000, 2px -2px 0 #000, 3px -3px 0 #000, -1px 1px 0 #000, -2px 2px 0 #000, -3px 3px 0 #000, 1px 1px 0 #000;              
  text-align: center;
  padding: 20px 0 20px 10px;
  margin-left: -10px;
}

#subtitle {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: black;
  z-index: 1;
  position: fixed;
  top: 200px;
  left: 0;
  text-align: center;
  display: block;
  width: 100%;
  background: rgba(255,255,255,.6);
  padding: 5px;
}

canvas {
  background: #66CC00;
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  overflow: hidden;
}

nav{
  position: fixed;
  left: 40px;
}
#navmenu ul li{
  margin: 10px 0;
  list-style: none;
}
#section-wrapper{
  margin-left:220px;
  margin-top: 330px;
  font-family: "Open Sans", Helvetica, sans-serif;
}
.section{
  font-size:15px;
  line-height: 24px;
  margin: 20px;
}
h2, h3{
  letter-spacing: 2;
  font-weight:bold;
  margin: 20px 0;
  font-size: 30px;
  letter-spacing: 2px;
}
h3 {
  font-size: 15px;
  letter-spacing: 1px;
}
.btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  color: black;
  text-transform: uppercase;
  border: 3px solid;
  padding: 0.5em 0.75em;
  -moz-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  -webkit-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative; 
  background: #d7d7d7;
  text-align: center;
}
.btn:hover {
  background: white;
}
.nav-item{
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
.btn:active {
  -moz-box-shadow: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px; 
}
.btn.active {
  background-color: white;
  color: black;
}
#logo {
  margin: 0;
  padding: 0;
}
#logo img{
  background: white;
  border: 3px black solid;
  width: 150px;
  padding: 0;
}

code {
  background-color: white;
  border: 3px dashed black;
  color: black;
  padding: 10px 15px;
  font-family: Courier, monospace;
}
form {
  padding: 20px;
}

#builder {
  background: rgba(255,255,255,.5);
  padding: 20px;
  padding-bottom: 50px;
}
#query-string {
  display: block;
}
#query-string-wrapper {
  margin-bottom: 20px;
}
fieldset legend {
  display: none;
}


.highlight {
  background: white;
  font-weight: 700;
  color: black;
  padding: 3px 5px;
}
.highlight:hover {
  background: black;
  color: white;
}
.bullet {
  color: black;
}

footer {
  font-family: "Open Sans", sans-serif;
  background: black;
  color: white;
  padding:20px;
  margin-top: 100px;
}
footer p {
  margin-top: 40px;
}

textarea {
  display: block;
  width: 100%;
  border: none;
  font-family: Courier, monospace;
}

/*#rqb {
  margin-bottom: 60px;
}*/

/*input, select {
  background: white;
  padding:  5px !important;
  border: none;
  -webkit-font-smoothing: antialiased;
  color: black;
  font-weight: bold;
  outline: none;
  margin-bottom:  0.875rem;
  -webkit-appearance: none;
  border-radius: 0;
}*/
