.bluedots {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2Nkiaqr/7OsqZEBChhhDAwBmEoMFQBP1QgFqojs0QAAAABJRU5ErkJggg==
    ) repeat;
  background-color:#0992CC;
  color:white;
}
::selection {
  background: #98ebb5; /* Safari */
}
::-moz-selection {
  background: #98ebb5; /* Firefox */
}

.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
  overflow: hidden;
}
.container-fluid:before,
.container-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}
.container-fluid:after {
  clear: both;
}

#hero {
  font-family: "Open Sans", Helvetica, sans-serif;
  position:relative;
  z-index:9999;
}
#title{
  overflow: hidden;
  filter: glow(color=black,strength=5);
  /*-webkit-text-stroke: 3px black;*/
  z-index: 5;
  width: 100%;
  display: block;
  position: fixed;
  top: 10px;
  left: 3px;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 800;
  text-shadow: 5px 5px #000, 4px 4px #000, 3px 3px #000, 2px 2px #000, 1px 1px #000, -1px -1px 0 #000, -2px -2px 0 #000,  1px -1px 0 #000;
  text-align: left;
  padding: 20px 0 20px 10px;
}
#subhead {
  position: fixed;
  top: 75px;
  left: 23px;
  text-align: center;
  font-size: 11px;
}
#subtitle {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: white;
  z-index: 1;
  position: absolute;
  top: 180px;
  left: 0;
  text-align: center;
  display: block;
  width: 100%;
  background: black;
  padding: 5px;
}

#subsubtitle {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: black;
  z-index: 1;
  position: absolute;
  top: 220px;
  left: 0;
  text-align: center;
  display: block;
  width: 100%;
  background: white;
  padding: 5px;
}

nav{
  position: fixed;
  left: 40px;
  top:110px;
  z-index: 9999;

}
#navmenu ul li{
  margin: 10px 0;
  list-style: none;
  position:relative;
}
#navmenu ul li a{
  color:black;
}
#section-wrapper{
  margin-top:120px;
  margin-left:240px;
  /*margin-top: 330px;*/
  font-family: "Open Sans", Helvetica, sans-serif;
}
.section{
  font-size:13px;
  line-height: 24px;
  margin: 20px;
}
h2, h3{
  position:relative;
  letter-spacing: 2;
  font-weight:bold;
  margin: 20px 0;
  font-size: 30px;
  letter-spacing: 2px;
}
h2 a {
  color:white;
}
h2 a:hover{
  text-decoration:underline;
}
.bullet{
  position:absolute;
  left:-25px;
  /*display:none;*/
}
h2 a:hover .bullet{
  display:block;
}
h3 {
  font-size: 15px;
  letter-spacing: 1px;
}
.btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  color: black;
  text-transform: uppercase;
  border: 3px solid;
  padding: 0.5em 0.75em;
  -moz-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  -webkit-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  background: #fff;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:hover {
  background: #FFFFE0;
}
.nav-item{
  display: block;
}
a {
  text-decoration: none;
  color: #FFFFAE;
}
a:hover{
  cursor:pointer;
  cursor:hand;
  text-decoration: underline;
}
#query-refresher{
  margin:10px 0;

}
.btn-group .btn {
  margin-left:20px;
}
.btn-group .btn:first-child{
  margin-left:0 !important;
}
.btn:active {
  -moz-box-shadow: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.btn.active {
  background-color: #FFFFC5;
  color: black;

}
.btn.active a:hover, #query-string-wrapper .btn.active:hover{
  cursor:default;
  text-decoration: none;
}
#logo {
  margin: 0;
  padding: 0;
  height:148px;
}
#logo img{
  background: white;
  border: 3px black solid;
  width: 150px;
  padding: 0;
}

code {
  color: #076692;
  margin: 0 2px;
  padding: 1px 4px;
  border: 1px solid #DFECF0;
  background-color: #0CF;
  border-radius: 3px;
  font-family: Courier, monospace;
}
form {
  padding: 20px;
}

#builder {
  background: rgba(255,255,255,.5);
  padding: 20px;
}
#query-string {
  margin-top:3px;
  display: block;
  font-family: Courier, monospace;
}
#query-string-wrapper {
  margin-bottom: 20px;
}
#query-string-wrapper .btn, #query-string-wrapper .btn.active:active{
  top:-3px;
  left:auto;
  font-size:9px;
  margin:0 2px 0 5px;
  border: 1px solid;
  padding: 0.25em 0.5em;
  -moz-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  -webkit-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px,;
}
#query-string-wrapper .btn:hover{
  text-decoration: underline;
  cursor:pointer;
  cursor:hand;
}
#query-string-wrapper .btn:active{
  -moz-box-shadow: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
  top: 0px;
  left: 2px;
}
#query-asterisk-field{
  margin-top:25px;
}
#query-asterisk-field p{
  font-size: 9px;
  letter-spacing: 1px;
}
fieldset legend {
  display: none;
}


.highlight-link {
  background: white;
  font-weight: 700;
  color: black;
  padding: 0 2px;
}
.highlight-link:hover {
  background: black;
  color: white;
}
.bullet {
  color: #4FBAE7;
}

footer {
  font-family: "Open Sans", sans-serif;
  background: black;
  color: white;
  padding:20px 20px 35px 20px;
  margin-top: 100px;
}
footer p {
  margin-top: 20px;
}

textarea {
  display: block;
  width: 100%;
  border: none;
  font-family: Courier, monospace;
  height:50px;
  overflow: auto;
  padding:5px;
}

textarea:focus{
  overflow: auto;
}
.code-container{
  width:100%;
}

/*#rqb {
  margin-bottom: 60px;
}*/

/*input, select {
  background: white;
  padding:  5px !important;
  border: none;
  -webkit-font-smoothing: antialiased;
  color: black;
  font-weight: bold;
  outline: none;
  margin-bottom:  0.875rem;
  -webkit-appearance: none;
  border-radius: 0;
}*/
