30 20 * * * cd /home && sh run.sh
*  17 * * 1,4  cd /home && sh tweet.sh change_in_balance
15 20 * * 2,5  cd /home && sh tweet.sh total_debt
45 02,13,17,24 * * * cd /home && tweet.sh random_item
30 11,15,22 * * * cd /home && sh tweet.sh random_comparison
