30 16 * * * ./monitor.sh ./run.sh
*  17 * * 1,4  ./monitor.sh ./tweet.sh change_in_balance
10 15 * * 2,5  ./monitor.sh ./tweet.sh total_debt
30 11 * * * ./monitor.sh ./tweet.sh is_it_running
45 9,13,20,22 * * * ./monitor.sh ./tweet.sh random_item
30 11,15,22 * * * ./monitor.sh ./tweet.sh random_comparison
